body {
  background-color: coral;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

ul li {
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  display: inline;
}

p {
  text-align: left;
}

img {
  width: 300px;
}

ul {
  list-style-type: none;
  justify-content: space-between;
  margin: auto;
  display: inline;
}

ul li a {
  text-align: center;
}

.row {
  display: flex;
  float: inline-start;
  justify-content: space-between;
}

.cajita .carousel img {
  text-align: center;
  height: 300px;
  padding: auto;
}
